include ../mixin/_button.pug

block vars 
    - var title = 'Александра Мельникова'
    - var sectionTitle = ''
    - var activeAbout = ''
    - var activeGallery = ''
    - var classSection = ''
    - var classTitleSection = ''
    - var classContainer = ''

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
  body
    div(class="upward js-upward")
        div(class="upward__text")
            p Назад
        div(class="upward__icon")
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none")
                path(d="M7 9.99991V12.9999M7 12.9999H10M7 12.9999L8.53381 11.481C9.33607 10.6175 10.3769 10.0585 11.4994 9.88824C12.622 9.71796 13.7655 9.94562 14.7576 10.5369C15.7497 11.1282 16.5367 11.8845 17 12.9999" stroke="#D9D9D9" stroke-linecap="round" stroke-linejoin="round")
    block sidebar 
        aside(class="sidebar")
            div(class="sidebar__inner")
                div(class="sidebar__header")
                    a(href="./")
                        h1(class="sidebar__title title")
                            |Александра Мельникова
                        h2(class="sidebar__subtitle subtitle")
                            |Профессиональная съемка в Тюмени
                nav(class="sidebar__nav nav")
                    ul(class="nav__list")
                        li(class="nav__item")
                            a(class=`nav__link ${activeAbout}` href="./about.html")
                                |Обо мне
                        li(class="nav__item")
                            span(class=`nav__link submenu ${activeSubmenu} js-submenu`)
                                |Для брендов
                                include ../components/_icon-svg.pug
                            block submenu
                                include ./_submenu.pug
                        li(class="nav__item")
                            a(class="nav__link" href="/")
                                |Для блогов и экспертов
                        li(class="nav__item")
                            a(class=`nav__link ${activeGallery}` href="./gallery.html")
                                |Личные фотосессии
                        li(class="nav__item")
                            a(class="nav__link" href="/")
                                |Публикации в журнале
                        li(class="nav__item")
                            a(class="nav__link" href="/")
                                |Прайс
                        li(class="nav__item")
                            a(class="nav__link" href="/")
                                |Отзывы
                div(class="sidebar__contacts contacts")
                    a(class="contacts__tel" href="tel:89220070075")
                        |+7 (922) 007-00-75
                    div(class="contacts__social")
                        a(href="https://vk.com/melnikova_photo72")
                            img(class="contacts__img" src="./images/social_icon/icon_vk.png")
                        a(href="https://t.me/Aleksandra_Melnikova")
                            img(class="contacts__img" src="./images/social_icon/icon_telegram.png")
                        a(href="https://wa.me/89220070075")
                            img(class="contacts__img" src="./images/social_icon/icon_whatsapp.png")
                    +button('Связаться со мной', 'button js-button')    
        div(class=`container ${classContainer}`)
            main(class="main")
                section(class=`main__section ${classSection}`)
                    div(class="main__header")
                        div(class="main__header-title")
                            h1(class=`main__title title ${classTitleSection}`)=sectionTitle
                            block subtitle
                        block button-main    
                    block content
    include ./_form.pug