block vars 
    - var title = 'Home'
    - var sectionTitle = ''
    - var activeAbout = ''
    - var classSection = ''

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title = 'Home'}
  body
    block sidebar 
        aside(class="sidebar")
            div(class="sidebar__inner")
                div(class="sidebar__header")
                    a(href="/index.html")
                        h1(class="sidebar__title title")
                            |Александра Мельникова
                        h2(class="sidebar__subtitle subtitle")
                            |Профессиональная съемка в Тюмени
                nav(class="sidebar__nav nav")
                    ul(class="nav__list")
                        li(class="nav__item")
                            a(class=`nav__link ${activeAbout}` href="./about.html")
                                |Обо мне
                        li(class="nav__item")
                            span(class=`nav__link submenu ${activeSubmenu} js-submenu`)
                                |Для брендов
                                include ../components/_icon-svg.pug
                            block submenu
                                include ./_submenu.pug
                        li(class="nav__item")
                            a(class="nav__link" href="/")
                                |Для блогов и экспертов
                        li(class="nav__item")
                            a(class="nav__link" href="/")
                                |Личные фотосессии
                        li(class="nav__item")
                            a(class="nav__link" href="/")
                                |Публикации в журнале
                        li(class="nav__item")
                            a(class="nav__link" href="/")
                                |Прайс
                        li(class="nav__item")
                            a(class="nav__link" href="/")
                                |Отзывы
                div(class="sidebar__contacts contacts")
                    a(class="contacts__tel" href="tel:89220070075")
                        |+7 (922) 007-00-75
                    div(class="contacts__social")
                        a(href="https://vk.com/melnikova_photo72")
                            img(class="contacts__img" src="../images/social_icon/icon_vk.png")
                        a(href="https://t.me/Aleksandra_Melnikova")
                            img(class="contacts__img" src="../images/social_icon/icon_telegram.png")
                        a(href="https://wa.me/89220070075")
                            img(class="contacts__img" src="../images/social_icon/icon_whatsapp.png")
                    include ../components/_button.pug      
        div(class="container")
            main(class="main")
                section(class=`main__section ${classSection=""}`)
                    h1(class="main__title title")=sectionTitle
                    block content  